/* Réinitialisation des styles de base */
body, h1, h2, h3, p, ul, li, form, label, input, textarea, button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Typographie et couleurs de base */
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #f9f9f9;
    color: #333;
}

/* Conteneur principal */
.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

/* En-tête */
header {
    background-color: #333;
    color: white;
    padding: 1em 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 2em;
}

nav ul li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #ff6347; /* Couleur de survol */
}

/* Sections */
section {
    padding: 4em 0;
}

section:nth-child(even) {
    background-color: #f1f1f1;
}

section .container {
    padding-top: 6em; /* Pour compenser le header fixe */
}

h2 {
    margin-bottom: 1em;
    font-size: 2em;
    color: #444;
}

/* Formulaire de contact */
form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-top: 1em;
}

form input, form textarea {
    padding: 0.5em;
    margin-top: 0.5em;
    width: 100%;
    max-width: 500px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form button {
    margin-top: 1em;
    padding: 0.5em 2em;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

form button:hover {
    background-color: #ff6347; /* Couleur de survol */
}

/* Licence */
#license p {
    margin-top: 1em;
    font-size: 0.9em;
    line-height: 1.6;
}

/* Footer */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
}

/* Styles spécifiques pour la page des mentions légales */
#legal h3 {
    margin-top: 1em;
    font-size: 1.5em;
    color: #444;
}

#legal p {
    margin-bottom: 1em;
    font-size: 1em;
    line-height: 1.6;
}

/* Liens */
a {
    color: #333;
    text-decoration: none;
    transition: color 0.3s;
}

a:hover {
    color: #ff6347;
}
